

body {
    margin: 200px;
    background-color: sienna;

}
.produkt {
    margin: 10px 0 0;
    color: #959595;
    justify-content: center;
    width: 500px;
    background-color: silver;
}

.popis {
    margin: 30 0;
}
.tlacitko {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 60px;
}